<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Patient and Clinical Data Management</title>
</head>
<body>
    <div class="container">
        <h1>Patient and Clinical Data Management</h1>
        <div class="form-container">
            <h2>Add Patient</h2>
            <form method="POST" action="/add_patient">
                <label for="name">Patient Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="age">Patient Age:</label>
                <input type="number" id="age" name="age" required>
                <label for="mobile_no">Mobile No:</label>
                <input type="tel" id="mobile_no" name="mobile_no" required>
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" required>
                <button type="submit">Add Patient</button>
            </form>
            <div class="flash-message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li class="message-{{ message.category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="form-container">
            <h2>Add Clinical Data</h2>
            <form method="POST" action="/add_clinical_data">
                <label for="search_criteria">Search by Name/ID/Mobile:</label>
                <input type="text" id="search_criteria" name="search_criteria" required>
                <label for="test_name">Test Name:</label>
                <input type="text" id="test_name" name="test_name" required>
                <label for="test_value">Test Value:</label>
                <input type="text" id="test_value" name="test_value" required>
                <button type="submit">Add Clinical Data</button>
            </form>
            <div class="flash-message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li class="message-{{ message.category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="form-container">
            <h2>Search Patient</h2>
            <form method="POST" action="/search_result">
                <label for="search_criteria">Search by Name/ID/Mobile:</label>
                <input type="text" id="search_criteria" name="search_criteria" required>
                <button type="submit">Search Patient</button>
            </form>
        </div>
    </div>
</body>
</html>
