/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.flash-message {
    margin-top: 10px;
}

.flash-message ul {
    list-style: none;
    padding: 0;
}

.flash-message li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.message-success {
    background-color: #4CAF50;
    color: white;
}

.message-error {
    background-color: #f44336;
    color: white;
}

.search-results {
    margin-top: 20px;
}

.patient-details {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.back-button {
    text-align: center;
    margin-top: 20px;
}

.back-button a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.back-button a:hover {
    background-color: #0056b3;
}
